Final Project

Paul Astorga & Kayden Finlayson

We are going to build a few models which attempt to predict whether or not an employee is granted access to a resource given data on each employee. Our data is Amazon employee access data which we retrieved from Kaggle. Let's start by importing some modules to help us build out our models, then we will load in our data and see what we can learn.

In [1]:
import pandas as pd
import seaborn as sns
import csv
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk
import seaborn as sns
import sqlite3
%matplotlib inline
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier

from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

## Load in Data

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

## Column Name	Description

### Identification

- RESOURCE:	An ID for each resource
- MGR_ID: The EMPLOYEE ID of the manager of the current EMPLOYEE ID record; an employee may have only one manager at a time

### Dependent Variable

- ACTION: is 1 if the resource was approved, 0 if the resource was not

### Independent Variables

- ROLE_ROLLUP_1:	Company role grouping category id 1 (e.g. US Engineering)
- ROLE_ROLLUP_2:	Company role grouping category id 2 (e.g. US Retail)
- ROLE_DEPTNAME:	Company role department description (e.g. Retail)
- ROLE_TITLE:	Company role business title description (e.g. Senior Engineering Retail Manager)
- ROLE_FAMILY_DESC: Company role family extended description (e.g. Retail Manager, Software Engineering)
- ROLE_FAMILY:	Company role family description (e.g. Retail Manager)
- ROLE_CODE:	Company role code; this code is unique to each role (e.g. Manager)

## Understanding the Data

In [3]:
# Get the shape of the training and test sets

train_df_shape = list(df_train.shape)
train_df_shape[0] = str(train_df_shape[0]) + " Rows"
train_df_shape[1] = str(train_df_shape[1]) + " Columns"
print("Train", train_df_shape)

test_df_shape = list(df_test.shape)
test_df_shape[0] = str(test_df_shape[0]) + " Rows"
test_df_shape[1] = str(test_df_shape[1]) + " Columns"
print("Test", test_df_shape)

Train ['32769 Rows', '10 Columns']
Test ['912363 Rows', '10 Columns']

Good, we've got a lot of data to work with in our train and almost 1 million in our test set.  That means we can be confident that at least our modeling efforts won't be underpowered.

In [4]:
df_train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [5]:
df_test.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,32642,7792,118573,118574,117945,136261,128463,292795,119082
1,2,4696,14638,117961,118343,118514,118321,289122,255851,118322
2,3,22662,1760,118887,118888,120171,118396,255118,118398,118399
3,4,75078,7576,117961,118052,120671,118321,117906,257051,118322
4,5,39879,55668,117902,118041,117945,135951,134458,19776,119082

Taking a quick look at our training and test sets tells a few things. First the good news: every element is a number which makes this dataset literally plug and play from a modeling perspective. The bad news is that this makes it a little harder to conceptualize and understand what each element means. Some are easier to understand than others, for example there is a unique MGR_ID for each manager and unique ID for each RESOURCE.

Now we should check to see if we are missing any data in both our train and test sets.

In [6]:
df_train.isnull().sum().sort_values(ascending=False).head(5)

ROLE_CODE           0
ROLE_FAMILY         0
ROLE_FAMILY_DESC    0
ROLE_TITLE          0
ROLE_DEPTNAME       0
dtype: int64

In [7]:
df_test.isnull().sum().sort_values(ascending=False).head(5)

ROLE_CODE           0
ROLE_FAMILY         0
ROLE_FAMILY_DESC    0
ROLE_TITLE          0
ROLE_DEPTNAME       0
dtype: int64

Nice, we aren't missing any data!

In [8]:
cutoff = int(df_train.shape[0]/2)
x_train = df_train.loc[:(cutoff - 1), ~df_train.columns.isin(["ACTION"])]
y_train = df_train["ACTION"][:cutoff]
x_test = df_train.loc[cutoff:, ~df_train.columns.isin(["ACTION"])]
y_test = df_train["ACTION"][cutoff:]

In [9]:
x_train.shape

(16384, 9)

In [10]:
y_train.shape

(16384,)

In [11]:
x_test.shape

(16385, 9)

In [12]:
y_test.shape

(16385,)

## Models

In [13]:
from sklearn.linear_model import LogisticRegression 
from sklearn import metrics

Logistic = LogisticRegression()
Logistic.fit(x_train, y_train)
y_pred_train = Logistic.predict(x_train)

print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train))

Accuracy: 0.941650390625

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
Logistic = LogisticRegression()
Logistic.fit(x_train, y_train)
y_pred_test = Logistic.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))

Accuracy: 0.9425694232529753

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [15]:
x_train.head ()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [16]:
cutoff = int(df_train.shape[0]/2)
x_train = df_train.loc[:(cutoff - 1), ~df_train.columns.isin(["ACTION"])]
y_train = df_train["ACTION"][:cutoff]
x_test = df_train.loc[cutoff:, ~df_train.columns.isin(["ACTION"])]
y_test = df_train["ACTION"][cutoff:]

In [17]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(learning_rate=0.01, max_depth=1)
clf.fit(x_train,y_train)
y_pred_train = clf.predict(x_train)
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train))

Accuracy: 0.941650390625

In [18]:
clf = GradientBoostingClassifier(learning_rate=0.01, max_depth=1)
clf.fit(x_train,y_train)
y_pred_test = clf.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))

Accuracy: 0.9425694232529753

In [19]:
cutoff = int(df_train.shape[0]/2)
x_train = df_train.loc[:(cutoff - 1), ~df_train.columns.isin(["ACTION"])]
y_train = df_train["ACTION"][:cutoff]
x_test = df_train.loc[cutoff:, ~df_train.columns.isin(["ACTION"])]
y_test = df_train["ACTION"][cutoff:]

In [20]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10, max_depth=5)
clf.fit(x_train,y_train)
y_pred_train = clf.predict(x_train)
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train))

Accuracy: 0.9422607421875

In [21]:
clf = RandomForestClassifier(n_estimators=10, max_depth=5)
clf.fit(x_train,y_train)
y_pred_test = clf.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))

Accuracy: 0.9425083918217882

In [22]:
x_train = df_train.loc[:, ~df_train.columns.isin(["ACTION"])]
y_train = df_train["ACTION"]
x_test = df_test.loc[:, ~df_test.columns.isin(["id"])]
y_test = df_train["ACTION"]

In [23]:
clf = RandomForestClassifier(n_estimators=10, max_depth=5)
clf.fit(x_train,y_train)
y_pred_train = clf.predict(x_train)
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train))

Accuracy: 0.9422319875492081

In [24]:
x_train["ACT"] = y_train
x_train["PRED"] = y_pred_train

In [25]:
x_train.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,ACT,PRED
0,39353,85475,117961,118300,123472,117905,117906,290919,117908,1,1
1,17183,1540,117961,118343,123125,118536,118536,308574,118539,1,1
2,36724,14457,118219,118220,117884,117879,267952,19721,117880,1,1
3,36135,5396,117961,118343,119993,118321,240983,290919,118322,1,1
4,42680,5905,117929,117930,119569,119323,123932,19793,119325,1,1

In [26]:
x_train[x_train["ACT"] != x_train["PRED"]]

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,ACT,PRED
5,45333,14561,117951,117952,118008,118568,118568,19721,118570,0,1
41,74310,49521,117961,118300,118301,119849,235245,118638,119851,0,1
55,78106,50613,117916,118150,118810,118568,159905,19721,118570,0,1
66,35043,14800,117961,117962,118352,118784,117906,290919,118786,0,1
68,15716,18073,118256,118257,118623,118995,286106,292795,118997,0,1
91,22956,3967,117961,118052,118706,118321,117906,290919,118322,0,1
102,36480,15510,118169,118170,118171,130479,185784,119784,130481,0,1
112,80501,19717,117961,117962,118352,118321,117906,290919,118322,0,1
122,23096,29762,117961,118052,120398,122067,130238,118424,122069,0,1
156,77977,3811,120864,121013,118395,118396,269406,118398,118399,0,1
159,14570,23304,117961,118327,124921,137969,271378,118612,137970,0,1
170,20312,18044,117961,118386,118522,118321,117906,290919,118322,0,1
186,18913,273476,117926,118266,117920,118568,310732,19721,118570,0,1
189,44976,7691,118555,118178,117945,117946,119114,292795,117948,0,1
209,7543,4554,117961,118300,118514,118259,118260,290919,118261,0,1
234,967,2855,118169,118170,119262,117946,125711,292795,117948,0,1
249,107225,15389,117961,118225,122870,119928,129017,118331,119929,0,1
258,21751,56199,117961,118052,118881,117905,117906,290919,117908,0,1
275,27416,50601,117916,117917,117941,117879,117886,19721,117880,0,1
289,917,5313,117961,118386,120356,120357,201020,118424,120359,0,1
318,4675,58719,117961,118386,119954,118318,168365,118205,118319,0,1
319,79092,108732,119062,119091,118684,122989,131688,119006,122991,0,1
329,971,4219,117961,118300,120312,120313,157234,118424,120315,0,1
345,77203,15621,117961,119256,120943,126684,126684,292795,126685,0,1
346,16495,26009,117961,118446,119986,118777,279443,308574,118779,0,1
399,25279,15390,117961,118300,118301,120344,311360,118424,120346,0,1
400,79562,13876,117961,118386,118404,118841,240982,118643,118843,0,1
402,80874,4589,117961,118327,120383,117905,240983,290919,117908,0,1
425,39879,55642,118256,118257,117945,118995,118806,292795,118997,0,1
442,42019,4362,117961,118343,126955,118777,279443,308574,118779,0,1
...,...,...,...,...,...,...,...,...,...,...,...
32227,86310,3860,117961,118446,120317,118321,117906,290919,118322,0,1
32228,41576,17728,117961,118446,119986,118318,168365,118205,118319,0,1
32236,20312,2163,117935,117936,120694,118636,130218,118638,118639,0,1
32237,43876,50222,118079,118080,117878,117885,117913,117887,117888,0,1
32264,74649,76838,118212,118213,145774,130606,124426,118474,130607,0,1
32299,42123,22832,117961,117969,19666,120647,311441,118398,120649,0,1
32310,45189,3838,117961,118225,119924,118321,118448,290919,118322,0,1
32314,32270,17420,118212,118213,119136,118043,118043,270488,118046,0,1
32342,13878,53205,118095,118096,118008,117879,117897,19721,117880,0,1
32355,27396,1840,117961,118343,118514,118321,240983,290919,118322,0,1
32374,34434,25276,117961,118343,121747,118321,117906,290919,118322,0,1
32380,22680,2641,117961,118386,118404,118321,117906,290919,118322,0,1
32404,21751,70062,117961,118386,118746,117905,117906,290919,117908,0,1
32406,27416,33591,117916,118011,117884,117879,117886,19721,117880,0,1
32454,79168,14695,118602,118603,117941,117885,117913,117887,117888,0,1
32456,74935,16024,117961,118300,119984,120647,311441,118398,120649,0,1
32485,80802,858,117961,118327,118529,118777,279443,308574,118779,0,1
32494,96520,278563,118602,118603,117941,118568,118568,19721,118570,0,1
32495,20293,51095,117926,118124,118344,118054,240326,117887,118055,0,1
32513,80868,2855,118169,118170,119262,117946,125711,292795,117948,0,1
32525,73783,7032,117961,118052,118992,118259,133680,290919,118261,0,1
32568,15369,4561,118169,118170,118575,118636,215667,118638,118639,0,1
32570,14354,21160,118095,118096,117920,118568,125652,19721,118570,0,1
32575,80473,20169,117961,118343,118660,118451,270976,118453,118454,0,1
32604,77300,32795,118256,118257,118623,280788,193644,292795,119082,0,1
32645,25749,14348,118169,118170,118623,117946,144221,292795,117948,0,1
32661,25993,7243,117961,118343,118609,120357,125779,118424,120359,0,1
32681,14925,20361,117961,117962,118352,118321,117906,290919,118322,0,1
32707,41470,14289,118602,118603,117941,118568,118568,19721,118570,0,1
32713,77202,6982,117961,118300,118783,118321,117906,290919,118322,0,1

In [27]:
x_train[x_train["ACT"] != x_train["PRED"]]["PRED"].value_counts()

1    1893
Name: PRED, dtype: int64

There are 1888 incorrect assignments

In [28]:
# Nelson's magic trick:

value_counts = x_train[x_train["ACT"] != x_train["PRED"]]["RESOURCE"].value_counts()
value_counts = pd.DataFrame(value_counts).reset_index()

totals = x_train["RESOURCE"].value_counts()
totals = pd.DataFrame(totals).reset_index()
totals = pd.merge(totals, value_counts, "left", left_on = "index", right_on = "index")
totals["Proportion"] = totals["RESOURCE_y"]/totals["RESOURCE_x"]
totals.sort_values("Proportion", ascending=False)

       index  RESOURCE_x  RESOURCE_y  Proportion
7475   40472           1         1.0         1.0
4856  106868           1         1.0         1.0
4669  114822           1         1.0         1.0
4686   44884           1         1.0         1.0
4694   26381           1         1.0         1.0
4703   16038           1         1.0         1.0
4704   80729           1         1.0         1.0
4710   82090           1         1.0         1.0
4711   80569           1         1.0         1.0
4737   16282           1         1.0         1.0
4769   25747           1         1.0         1.0
4778   80856           1         1.0         1.0
4796   42123           1         1.0         1.0
4810   92397           1         1.0         1.0
4818   16488           1         1.0         1.0
4823   38963           1         1.0         1.0
4839   80455           1         1.0         1.0
4645   77976           1         1.0         1.0
4627   31025           1         1.0         1.0
4626   35347           1         1.0         1.0
4521   81510           1         1.0         1.0
4464   96520           1         1.0         1.0
4467   43250           1         1.0         1.0
4485   74776           1         1.0         1.0
4493   36752           1         1.0         1.0
4499   17782           1         1.0         1.0
4515   91181           1         1.0         1.0
4537   73154           1         1.0         1.0
4622   16630           1         1.0         1.0
4547   27692           1         1.0         1.0
...      ...         ...         ...         ...
7488   35046           1         NaN         NaN
7489   92378           1         NaN         NaN
7490  100413           1         NaN         NaN
7491   79728           1         NaN         NaN
7492   79792           1         NaN         NaN
7493   36894           1         NaN         NaN
7494   28635           1         NaN         NaN
7495   59370           1         NaN         NaN
7496   45057           1         NaN         NaN
7497   30629           1         NaN         NaN
7498   18462           1         NaN         NaN
7499   38809           1         NaN         NaN
7500   77905           1         NaN         NaN
7501   42879           1         NaN         NaN
7502   75631           1         NaN         NaN
7503   39012           1         NaN         NaN
7504   30565           1         NaN         NaN
7505   18275           1         NaN         NaN
7506   79693           1         NaN         NaN
7507   97530           1         NaN         NaN
7508   28793           1         NaN         NaN
7509   18243           1         NaN         NaN
7510   20290           1         NaN         NaN
7511   26407           1         NaN         NaN
7512   43202           1         NaN         NaN
7513   35014           1         NaN         NaN
7514   75535           1         NaN         NaN
7515   30936           1         NaN         NaN
7516   89856           1         NaN         NaN
7517   16376           1         NaN         NaN

[7518 rows x 4 columns]

In [29]:
totals.sort_values(by=['Proportion'])

       index  RESOURCE_x  RESOURCE_y  Proportion
0       4675         839         3.0    0.003576
3      75078         409         4.0    0.009780
32     34950          91         1.0    0.010989
34     73756          87         1.0    0.011494
9      17308         239         3.0    0.012552
18     79121         157         2.0    0.012739
44     73815          73         1.0    0.013699
4       3853         404         6.0    0.014851
56     40867          62         1.0    0.016129
6      75834         299         5.0    0.016722
57     16191          58         1.0    0.017241
59      7678          57         1.0    0.017544
61      3130          56         1.0    0.017857
15     23921         167         3.0    0.017964
65      1937          52         1.0    0.019231
69     37260          50         1.0    0.020000
72       971          48         1.0    0.020833
10      1020         236         5.0    0.021186
30       972          92         2.0    0.021739
19     28149         137         3.0    0.021898
76     41594          45         1.0    0.022222
33     27124          88         2.0    0.022727
85     37651          42         1.0    0.023810
35     33248          84         2.0    0.023810
36     17249          83         2.0    0.024096
90     41758          40         1.0    0.025000
87     16443          40         1.0    0.025000
94     15022          38         1.0    0.026316
101    35498          36         1.0    0.027778
46     28294          68         2.0    0.029412
...      ...         ...         ...         ...
7488   35046           1         NaN         NaN
7489   92378           1         NaN         NaN
7490  100413           1         NaN         NaN
7491   79728           1         NaN         NaN
7492   79792           1         NaN         NaN
7493   36894           1         NaN         NaN
7494   28635           1         NaN         NaN
7495   59370           1         NaN         NaN
7496   45057           1         NaN         NaN
7497   30629           1         NaN         NaN
7498   18462           1         NaN         NaN
7499   38809           1         NaN         NaN
7500   77905           1         NaN         NaN
7501   42879           1         NaN         NaN
7502   75631           1         NaN         NaN
7503   39012           1         NaN         NaN
7504   30565           1         NaN         NaN
7505   18275           1         NaN         NaN
7506   79693           1         NaN         NaN
7507   97530           1         NaN         NaN
7508   28793           1         NaN         NaN
7509   18243           1         NaN         NaN
7510   20290           1         NaN         NaN
7511   26407           1         NaN         NaN
7512   43202           1         NaN         NaN
7513   35014           1         NaN         NaN
7514   75535           1         NaN         NaN
7515   30936           1         NaN         NaN
7516   89856           1         NaN         NaN
7517   16376           1         NaN         NaN

[7518 rows x 4 columns]

In [30]:
totals.to_sql('totals_database', con=engine)

In [85]:
engine.execute("SELECT * FROM totals_database WHERE RESOURCE_x >= 10 ORDER BY Proportion DESC").fetchall()

[(98, 27416, 37, 18.0, 0.4864864864864865),
 (439, 20287, 11, 5.0, 0.45454545454545453),
 (28, 20897, 104, 42.0, 0.40384615384615385),
 (228, 75216, 19, 6.0, 0.3157894736842105),
 (359, 20231, 13, 4.0, 0.3076923076923077),
 (455, 33233, 10, 3.0, 0.3),
 (472, 39631, 10, 3.0, 0.3),
 (112, 20222, 33, 9.0, 0.2727272727272727),
 (418, 33229, 11, 3.0, 0.2727272727272727),
 (421, 38205, 11, 3.0, 0.2727272727272727),
 (425, 44655, 11, 3.0, 0.2727272727272727),
 (448, 80501, 11, 3.0, 0.2727272727272727),
 (226, 20284, 19, 5.0, 0.2631578947368421),
 (139, 43877, 28, 7.0, 0.25),
 (378, 33239, 12, 3.0, 0.25),
 (381, 19751, 12, 3.0, 0.25),
 (390, 31183, 12, 3.0, 0.25),
 (154, 77300, 25, 6.0, 0.24),
 (206, 38124, 21, 5.0, 0.23809523809523808),
 (275, 79168, 17, 4.0, 0.23529411764705882),
 (178, 302049, 23, 5.0, 0.21739130434782608),
 (20, 18072, 136, 29.0, 0.21323529411764705),
 (172, 25749, 24, 5.0, 0.20833333333333334),
 (135, 24016, 29, 6.0, 0.20689655172413793),
 (53, 18913, 65, 13.0, 0.2),
 (483, 16933, 10, 2.0, 0.2),
 (496, 25985, 10, 2.0, 0.2),
 (506, 38268, 10, 2.0, 0.2),
 (276, 19723, 16, 3.0, 0.1875),
 (430, 23968, 11, 2.0, 0.18181818181818182),
 (444, 75876, 11, 2.0, 0.18181818181818182),
 (446, 25305, 11, 2.0, 0.18181818181818182),
 (449, 25279, 11, 2.0, 0.18181818181818182),
 (270, 45337, 17, 3.0, 0.17647058823529413),
 (51, 39264, 65, 11.0, 0.16923076923076924),
 (41, 32642, 78, 13.0, 0.16666666666666666),
 (375, 1022, 12, 2.0, 0.16666666666666666),
 (382, 42208, 12, 2.0, 0.16666666666666666),
 (385, 36731, 12, 2.0, 0.16666666666666666),
 (386, 3003, 12, 2.0, 0.16666666666666666),
 (394, 38481, 12, 2.0, 0.16666666666666666),
 (410, 72201, 12, 2.0, 0.16666666666666666),
 (412, 34434, 12, 2.0, 0.16666666666666666),
 (43, 20299, 73, 12.0, 0.1643835616438356),
 (231, 967, 19, 3.0, 0.15789473684210525),
 (49, 29304, 65, 10.0, 0.15384615384615385),
 (347, 37737, 13, 2.0, 0.15384615384615385),
 (323, 34433, 14, 2.0, 0.14285714285714285),
 (326, 42914, 14, 2.0, 0.14285714285714285),
 (331, 44987, 14, 2.0, 0.14285714285714285),
 (338, 22680, 14, 2.0, 0.14285714285714285),
 (340, 6960, 14, 2.0, 0.14285714285714285),
 (341, 4673, 14, 2.0, 0.14285714285714285),
 (345, 153, 14, 2.0, 0.14285714285714285),
 (134, 38392, 29, 4.0, 0.13793103448275862),
 (137, 39879, 29, 4.0, 0.13793103448275862),
 (193, 15365, 22, 3.0, 0.13636363636363635),
 (195, 20226, 22, 3.0, 0.13636363636363635),
 (196, 23965, 22, 3.0, 0.13636363636363635),
 (309, 20312, 15, 2.0, 0.13333333333333333),
 (315, 45856, 15, 2.0, 0.13333333333333333),
 (317, 32634, 15, 2.0, 0.13333333333333333),
 (181, 39332, 23, 3.0, 0.13043478260869565),
 (88, 25287, 40, 5.0, 0.125),
 (89, 37793, 40, 5.0, 0.125),
 (171, 16767, 24, 3.0, 0.125),
 (282, 15805, 16, 2.0, 0.125),
 (283, 40202, 16, 2.0, 0.125),
 (299, 75639, 16, 2.0, 0.125),
 (31, 14570, 91, 11.0, 0.12087912087912088),
 (260, 1023, 17, 2.0, 0.11764705882352941),
 (261, 17292, 17, 2.0, 0.11764705882352941),
 (269, 45610, 17, 2.0, 0.11764705882352941),
 (29, 33642, 99, 11.0, 0.1111111111111111),
 (246, 52683, 18, 2.0, 0.1111111111111111),
 (249, 41378, 18, 2.0, 0.1111111111111111),
 (255, 78176, 18, 2.0, 0.1111111111111111),
 (97, 44722, 38, 4.0, 0.10526315789473684),
 (220, 77203, 19, 2.0, 0.10526315789473684),
 (227, 838, 19, 2.0, 0.10526315789473684),
 (236, 44641, 19, 2.0, 0.10526315789473684),
 (237, 74142, 19, 2.0, 0.10526315789473684),
 (71, 20293, 48, 5.0, 0.10416666666666667),
 (11, 13878, 220, 22.0, 0.1),
 (67, 36480, 50, 5.0, 0.1),
 (86, 1969, 40, 4.0, 0.1),
 (214, 35792, 20, 2.0, 0.1),
 (217, 29100, 20, 2.0, 0.1),
 (460, 31990, 10, 1.0, 0.1),
 (461, 16145, 10, 1.0, 0.1),
 (464, 35625, 10, 1.0, 0.1),
 (467, 36050, 10, 1.0, 0.1),
 (470, 28340, 10, 1.0, 0.1),
 (475, 44909, 10, 1.0, 0.1),
 (478, 33235, 10, 1.0, 0.1),
 (481, 33245, 10, 1.0, 0.1),
 (491, 74115, 10, 1.0, 0.1),
 (492, 45412, 10, 1.0, 0.1),
 (498, 43302, 10, 1.0, 0.1),
 (66, 23497, 51, 5.0, 0.09803921568627451),
 (125, 23194, 31, 3.0, 0.0967741935483871),
 (127, 41314, 31, 3.0, 0.0967741935483871),
 (200, 45652, 21, 2.0, 0.09523809523809523),
 (204, 36429, 21, 2.0, 0.09523809523809523),
 (23, 14354, 127, 12.0, 0.09448818897637795),
 (124, 34026, 32, 3.0, 0.09375),
 (50, 45904, 65, 6.0, 0.09230769230769231),
 (14, 7543, 186, 17.0, 0.0913978494623656),
 (420, 31200, 11, 1.0, 0.09090909090909091),
 (422, 80381, 11, 1.0, 0.09090909090909091),
 (423, 25865, 11, 1.0, 0.09090909090909091),
 (424, 41642, 11, 1.0, 0.09090909090909091),
 (436, 74478, 11, 1.0, 0.09090909090909091),
 (441, 38718, 11, 1.0, 0.09090909090909091),
 (442, 17825, 11, 1.0, 0.09090909090909091),
 (451, 43147, 11, 1.0, 0.09090909090909091),
 (74, 33146, 46, 4.0, 0.08695652173913043),
 (38, 15714, 81, 7.0, 0.08641975308641975),
 (73, 74310, 47, 4.0, 0.0851063829787234),
 (27, 33054, 108, 9.0, 0.08333333333333333),
 (102, 33147, 36, 3.0, 0.08333333333333333),
 (103, 23990, 36, 3.0, 0.08333333333333333),
 (167, 1281, 24, 2.0, 0.08333333333333333),
 (169, 969, 24, 2.0, 0.08333333333333333),
 (170, 974, 24, 2.0, 0.08333333333333333),
 (174, 76860, 24, 2.0, 0.08333333333333333),
 (393, 14854, 12, 1.0, 0.08333333333333333),
 (396, 3069, 12, 1.0, 0.08333333333333333),
 (401, 15797, 12, 1.0, 0.08333333333333333),
 (402, 75324, 12, 1.0, 0.08333333333333333),
 (405, 15723, 12, 1.0, 0.08333333333333333),
 (409, 75787, 12, 1.0, 0.08333333333333333),
 (411, 45974, 12, 1.0, 0.08333333333333333),
 (414, 80830, 12, 1.0, 0.08333333333333333),
 (68, 31825, 50, 4.0, 0.08),
 (158, 78972, 25, 2.0, 0.08),
 (162, 40069, 25, 2.0, 0.08),
 (165, 70452, 25, 2.0, 0.08),
 (148, 16018, 26, 2.0, 0.07692307692307693),
 (348, 25812, 13, 1.0, 0.07692307692307693),
 (350, 58678, 13, 1.0, 0.07692307692307693),
 (351, 34714, 13, 1.0, 0.07692307692307693),
 (352, 39330, 13, 1.0, 0.07692307692307693),
 (353, 44874, 13, 1.0, 0.07692307692307693),
 (356, 0, 13, 1.0, 0.07692307692307693),
 (360, 45035, 13, 1.0, 0.07692307692307693),
 (364, 79342, 13, 1.0, 0.07692307692307693),
 (369, 44977, 13, 1.0, 0.07692307692307693),
 (140, 39333, 27, 2.0, 0.07407407407407407),
 (144, 1581, 27, 2.0, 0.07407407407407407),
 (84, 16639, 42, 3.0, 0.07142857142857142),
 (138, 19722, 28, 2.0, 0.07142857142857142),
 (321, 38723, 14, 1.0, 0.07142857142857142),
 (325, 35790, 14, 1.0, 0.07142857142857142),
 (327, 35528, 14, 1.0, 0.07142857142857142),
 (330, 37709, 14, 1.0, 0.07142857142857142),
 (334, 5045, 14, 1.0, 0.07142857142857142),
 (336, 78919, 14, 1.0, 0.07142857142857142),
 (342, 18394, 14, 1.0, 0.07142857142857142),
 (344, 38707, 14, 1.0, 0.07142857142857142),
 (58, 17278, 57, 4.0, 0.07017543859649122),
 (82, 38719, 43, 3.0, 0.06976744186046512),
 (78, 25231, 45, 3.0, 0.06666666666666667),
 (79, 17226, 45, 3.0, 0.06666666666666667),
 (307, 18058, 15, 1.0, 0.06666666666666667),
 (310, 38860, 15, 1.0, 0.06666666666666667),
 (312, 34982, 15, 1.0, 0.06666666666666667),
 (316, 79285, 15, 1.0, 0.06666666666666667),
 (130, 73144, 31, 2.0, 0.06451612903225806),
 (39, 31441, 79, 5.0, 0.06329113924050633),
 (118, 45790, 32, 2.0, 0.0625),
 (119, 6921, 32, 2.0, 0.0625),
 (120, 25274, 32, 2.0, 0.0625),
 (280, 38480, 16, 1.0, 0.0625),
 (289, 41470, 16, 1.0, 0.0625),
 (290, 16232, 16, 1.0, 0.0625),
 (293, 31983, 16, 1.0, 0.0625),
 (295, 34580, 16, 1.0, 0.0625),
 (300, 23966, 16, 1.0, 0.0625),
 (16, 278393, 163, 10.0, 0.06134969325153374),
 (70, 15369, 49, 3.0, 0.061224489795918366),
 (111, 38972, 33, 2.0, 0.06060606060606061),
 (37, 79299, 83, 5.0, 0.060240963855421686),
 (47, 20292, 67, 4.0, 0.05970149253731343),
 (21, 20364, 135, 8.0, 0.05925925925925926),
 (12, 42093, 204, 12.0, 0.058823529411764705),
 (257, 38482, 17, 1.0, 0.058823529411764705),
 (265, 30570, 17, 1.0, 0.058823529411764705),
 (272, 37732, 17, 1.0, 0.058823529411764705),
 (273, 64721, 17, 1.0, 0.058823529411764705),
 (13, 18418, 192, 11.0, 0.057291666666666664),
 (24, 23096, 126, 7.0, 0.05555555555555555),
 (45, 35376, 72, 4.0, 0.05555555555555555),
 (62, 34817, 54, 3.0, 0.05555555555555555),
 (240, 43714, 18, 1.0, 0.05555555555555555),
 (242, 5906, 18, 1.0, 0.05555555555555555),
 (243, 37807, 18, 1.0, 0.05555555555555555),
 (245, 38725, 18, 1.0, 0.05555555555555555),
 (247, 20281, 18, 1.0, 0.05555555555555555),
 (248, 34958, 18, 1.0, 0.05555555555555555),
 (251, 42006, 18, 1.0, 0.05555555555555555),
 (7, 32270, 295, 16.0, 0.05423728813559322),
 (99, 79363, 37, 2.0, 0.05405405405405406),
 (5, 6977, 299, 16.0, 0.05351170568561873),
 (42, 917, 76, 4.0, 0.05263157894736842),
 (221, 38468, 19, 1.0, 0.05263157894736842),
 (222, 34628, 19, 1.0, 0.05263157894736842),
 (223, 915, 19, 1.0, 0.05263157894736842),
 (224, 79969, 19, 1.0, 0.05263157894736842),
 (233, 34832, 19, 1.0, 0.05263157894736842),
 (235, 15715, 19, 1.0, 0.05263157894736842),
 (92, 45300, 39, 2.0, 0.05128205128205128),
 (40, 15716, 79, 4.0, 0.05063291139240506),
 (209, 35788, 20, 1.0, 0.05),
 (210, 3661, 20, 1.0, 0.05),
 (211, 41279, 20, 1.0, 0.05),
 (212, 77178, 20, 1.0, 0.05),
 (213, 26360, 20, 1.0, 0.05),
 (216, 30583, 20, 1.0, 0.05),
 (218, 14666, 20, 1.0, 0.05),
 (219, 41569, 20, 1.0, 0.05),
 (54, 391, 63, 3.0, 0.047619047619047616),
 (83, 74754, 42, 2.0, 0.047619047619047616),
 (202, 34954, 21, 1.0, 0.047619047619047616),
 (205, 22662, 21, 1.0, 0.047619047619047616),
 (208, 79543, 21, 1.0, 0.047619047619047616),
 (2, 25993, 409, 19.0, 0.04645476772616137),
 (189, 75649, 22, 1.0, 0.045454545454545456),
 (190, 23181, 22, 1.0, 0.045454545454545456),
 (192, 19989, 22, 1.0, 0.045454545454545456),
 (198, 80195, 22, 1.0, 0.045454545454545456),
 (75, 43876, 45, 2.0, 0.044444444444444446),
 (77, 5173, 45, 2.0, 0.044444444444444446),
 (80, 3264, 45, 2.0, 0.044444444444444446),
 (180, 35540, 23, 1.0, 0.043478260869565216),
 (182, 25270, 23, 1.0, 0.043478260869565216),
 (183, 75047, 23, 1.0, 0.043478260869565216),
 (184, 20733, 23, 1.0, 0.043478260869565216),
 (186, 43452, 23, 1.0, 0.043478260869565216),
 (168, 4605, 24, 1.0, 0.041666666666666664),
 (173, 33150, 24, 1.0, 0.041666666666666664),
 (8, 42085, 247, 10.0, 0.04048582995951417),
 (159, 38710, 25, 1.0, 0.04),
 (161, 39939, 25, 1.0, 0.04),
 (163, 39331, 25, 1.0, 0.04),
 (164, 33249, 25, 1.0, 0.04),
 (22, 39262, 129, 5.0, 0.03875968992248062),
 (149, 27755, 26, 1.0, 0.038461538461538464),
 (150, 74909, 26, 1.0, 0.038461538461538464),
 (151, 15672, 26, 1.0, 0.038461538461538464),
 (64, 20351, 53, 2.0, 0.03773584905660377),
 (17, 34924, 161, 6.0, 0.037267080745341616),
 (141, 27323, 27, 1.0, 0.037037037037037035),
 (142, 40630, 27, 1.0, 0.037037037037037035),
 (145, 23964, 27, 1.0, 0.037037037037037035),
 (147, 37734, 27, 1.0, 0.037037037037037035),
 (26, 15064, 113, 4.0, 0.035398230088495575),
 (25, 75901, 115, 4.0, 0.034782608695652174),
 (133, 17183, 30, 1.0, 0.03333333333333333),
 (1, 79092, 484, 16.0, 0.03305785123966942),
 (55, 42031, 62, 2.0, 0.03225806451612903),
 (128, 38391, 31, 1.0, 0.03225806451612903),
 (115, 26437, 32, 1.0, 0.03125),
 (52, 39883, 65, 2.0, 0.03076923076923077),
 (46, 28294, 68, 2.0, 0.029411764705882353),
 (109, 78563, 34, 1.0, 0.029411764705882353),
 (101, 35498, 36, 1.0, 0.027777777777777776),
 (94, 15022, 38, 1.0, 0.02631578947368421),
 (87, 16443, 40, 1.0, 0.025),
 (90, 41758, 40, 1.0, 0.025),
 (36, 17249, 83, 2.0, 0.024096385542168676),
 (35, 33248, 84, 2.0, 0.023809523809523808),
 (85, 37651, 42, 1.0, 0.023809523809523808),
 (33, 27124, 88, 2.0, 0.022727272727272728),
 (76, 41594, 45, 1.0, 0.022222222222222223),
 (19, 28149, 137, 3.0, 0.021897810218978103),
 (30, 972, 92, 2.0, 0.021739130434782608),
 (10, 1020, 236, 5.0, 0.0211864406779661),
 (72, 971, 48, 1.0, 0.020833333333333332),
 (69, 37260, 50, 1.0, 0.02),
 (65, 1937, 52, 1.0, 0.019230769230769232),
 (15, 23921, 167, 3.0, 0.017964071856287425),
 (61, 3130, 56, 1.0, 0.017857142857142856),
 (59, 7678, 57, 1.0, 0.017543859649122806),
 (57, 16191, 58, 1.0, 0.017241379310344827),
 (6, 75834, 299, 5.0, 0.016722408026755852),
 (56, 40867, 62, 1.0, 0.016129032258064516),
 (4, 3853, 404, 6.0, 0.01485148514851485),
 (44, 73815, 73, 1.0, 0.0136986301369863),
 (18, 79121, 157, 2.0, 0.012738853503184714),
 (9, 17308, 239, 3.0, 0.012552301255230125),
 (34, 73756, 87, 1.0, 0.011494252873563218),
 (32, 34950, 91, 1.0, 0.01098901098901099),
 (3, 75078, 409, 4.0, 0.009779951100244499),
 (0, 4675, 839, 3.0, 0.003575685339690107),
 (48, 81350, 66, None, None),
 (60, 38704, 57, None, None),
 (63, 27082, 53, None, None),
 (81, 74995, 43, None, None),
 (91, 40997, 40, None, None),
 (93, 17849, 39, None, None),
 (95, 27356, 38, None, None),
 (96, 27348, 38, None, None),
 (100, 19998, 37, None, None),
 (104, 15720, 35, None, None),
 (105, 74883, 35, None, None),
 (106, 20279, 34, None, None),
 (107, 45481, 34, None, None),
 (108, 74302, 34, None, None),
 (110, 45444, 34, None, None),
 (113, 5112, 33, None, None),
 (114, 20294, 33, None, None),
 (116, 6725, 32, None, None),
 (117, 22682, 32, None, None),
 (121, 33111, 32, None, None),
 (122, 45019, 32, None, None),
 (123, 38470, 32, None, None),
 (126, 28315, 31, None, None),
 (129, 1003, 31, None, None),
 (131, 20271, 30, None, None),
 (132, 20349, 30, None, None),
 (136, 25098, 29, None, None),
 (143, 37639, 27, None, None),
 (146, 44812, 27, None, None),
 (152, 14960, 26, None, None),
 (153, 34861, 26, None, None),
 (155, 5893, 25, None, None),
 (156, 78311, 25, None, None),
 (157, 74001, 25, None, None),
 (160, 31232, 25, None, None),
 (166, 25241, 25, None, None),
 (175, 78591, 24, None, None),
 (176, 43952, 24, None, None),
 (177, 37942, 23, None, None),
 (179, 40237, 23, None, None),
 (185, 16116, 23, None, None),
 (187, 37951, 23, None, None),
 (188, 35068, 22, None, None),
 (191, 28586, 22, None, None),
 (194, 76446, 22, None, None),
 (197, 42508, 22, None, None),
 (199, 19945, 21, None, None),
 (201, 79021, 21, None, None),
 (203, 42972, 21, None, None),
 (207, 19310, 21, None, None),
 (215, 27287, 20, None, None),
 (225, 34583, 19, None, None),
 (229, 40438, 19, None, None),
 (230, 34498, 19, None, None),
 (232, 1151, 19, None, None),
 (234, 6690, 19, None, None),
 (238, 20272, 18, None, None),
 (239, 26431, 18, None, None),
 (241, 919, 18, None, None),
 (244, 38751, 18, None, None),
 (250, 3719, 18, None, None),
 (252, 75338, 18, None, None),
 (253, 77295, 18, None, None),
 (254, 33149, 18, None, None),
 (256, 33241, 17, None, None),
 (258, 23961, 17, None, None),
 (259, 81355, 17, None, None),
 (262, 78327, 17, None, None),
 (263, 72024, 17, None, None),
 (264, 80151, 17, None, None),
 (266, 44944, 17, None, None),
 (267, 35531, 17, None, None),
 (268, 19484, 17, None, None),
 (271, 16985, 17, None, None),
 (274, 19666, 17, None, None),
 (277, 15030, 16, None, None),
 (278, 31661, 16, None, None),
 (279, 42976, 16, None, None),
 (281, 25570, 16, None, None),
 (284, 81524, 16, None, None),
 (285, 38469, 16, None, None),
 (286, 75954, 16, None, None),
 (287, 45990, 16, None, None),
 (288, 27785, 16, None, None),
 (291, 33329, 16, None, None),
 (292, 79141, 16, None, None),
 (294, 34516, 16, None, None),
 (296, 79422, 16, None, None),
 (297, 33151, 16, None, None),
 (298, 31299, 16, None, None),
 (301, 18688, 16, None, None),
 (302, 77993, 16, None, None),
 (303, 26391, 15, None, None),
 (304, 25328, 15, None, None),
 (305, 26313, 15, None, None),
 (306, 6449, 15, None, None),
 (308, 76416, 15, None, None),
 (311, 41325, 15, None, None),
 (313, 25885, 15, None, None),
 (314, 73876, 15, None, None),
 (318, 40919, 15, None, None),
 (319, 70453, 15, None, None),
 (320, 73547, 14, None, None),
 (322, 75179, 14, None, None),
 (324, 25442, 14, None, None),
 (328, 17296, 14, None, None),
 (329, 45143, 14, None, None),
 (332, 19312, 14, None, None),
 (333, 42654, 14, None, None),
 (335, 34005, 14, None, None),
 (337, 16333, 14, None, None),
 (339, 36463, 14, None, None),
 (343, 26430, 14, None, None),
 (346, 19399, 14, None, None),
 (349, 31352, 13, None, None),
 (354, 74550, 13, None, None),
 (355, 80208, 13, None, None),
 (357, 16503, 13, None, None),
 (358, 80746, 13, None, None),
 (361, 15710, 13, None, None),
 (362, 43305, 13, None, None),
 (363, 23986, 13, None, None),
 (365, 75477, 13, None, None),
 (366, 14914, 13, None, None),
 (367, 75272, 13, None, None),
 (368, 29024, 13, None, None),
 (370, 78766, 13, None, None),
 (371, 29697, 13, None, None),
 (372, 25322, 13, None, None),
 (373, 189629, 13, None, None),
 (374, 1014, 13, None, None),
 (376, 80905, 12, None, None),
 (377, 45828, 12, None, None),
 (379, 77659, 12, None, None),
 (380, 45349, 12, None, None),
 (383, 31613, 12, None, None),
 (384, 25883, 12, None, None),
 (387, 78849, 12, None, None),
 (388, 37439, 12, None, None),
 (389, 42367, 12, None, None),
 (391, 37138, 12, None, None),
 (392, 25744, 12, None, None),
 (395, 31369, 12, None, None),
 (397, 6104, 12, None, None),
 (398, 44781, 12, None, None),
 (399, 15739, 12, None, None),
 (400, 27727, 12, None, None),
 (403, 27122, 12, None, None),
 (404, 15679, 12, None, None),
 (406, 25103, 12, None, None),
 (407, 15915, 12, None, None),
 (408, 77561, 12, None, None),
 (413, 34346, 12, None, None),
 (415, 20701, 12, None, None),
 (416, 41649, 12, None, None),
 (417, 73536, 11, None, None),
 (419, 5502, 11, None, None),
 (426, 79328, 11, None, None),
 (427, 36267, 11, None, None),
 (428, 27623, 11, None, None),
 (429, 26986, 11, None, None),
 (431, 27178, 11, None, None),
 (432, 75057, 11, None, None),
 (433, 15884, 11, None, None),
 (434, 25565, 11, None, None),
 (435, 44914, 11, None, None),
 (437, 80207, 11, None, None),
 (438, 80202, 11, None, None),
 (440, 34748, 11, None, None),
 (443, 81070, 11, None, None),
 (445, 22282, 11, None, None),
 (447, 2235, 11, None, None),
 (450, 26808, 11, None, None),
 (452, 68726, 11, None, None),
 (453, 80313, 11, None, None),
 (454, 45784, 11, None, None),
 (456, 6215, 10, None, None),
 (457, 23127, 10, None, None),
 (458, 1008, 10, None, None),
 (459, 21915, 10, None, None),
 (462, 22430, 10, None, None),
 (463, 22598, 10, None, None),
 (465, 19843, 10, None, None),
 (466, 23994, 10, None, None),
 (468, 33148, 10, None, None),
 (469, 6094, 10, None, None),
 (471, 37943, 10, None, None),
 (473, 78399, 10, None, None),
 (474, 35916, 10, None, None),
 (476, 78175, 10, None, None),
 (477, 33423, 10, None, None),
 (479, 2925, 10, None, None),
 (480, 40531, 10, None, None),
 (482, 33323, 10, None, None),
 (484, 74593, 10, None, None),
 (485, 78360, 10, None, None),
 (486, 30839, 10, None, None),
 (487, 75443, 10, None, None),
 (488, 29693, 10, None, None),
 (489, 30932, 10, None, None),
 (490, 79228, 10, None, None),
 (493, 35499, 10, None, None),
 (494, 41234, 10, None, None),
 (495, 39339, 10, None, None),
 (497, 38119, 10, None, None),
 (499, 41643, 10, None, None),
 (500, 28472, 10, None, None),
 (501, 78518, 10, None, None),
 (502, 34871, 10, None, None),
 (503, 6720, 10, None, None),
 (504, 25677, 10, None, None),
 (505, 18381, 10, None, None),
 (507, 79323, 10, None, None),
 (508, 18229, 10, None, None)]

This shows the resources that performed the worst with more than 10 observations

In [31]:
engine.execute("SELECT COUNT(RESOURCE_X) FROM totals_database WHERE RESOURCE_x = RESOURCE_y").fetchall()

[(292,)]

This is the number of times that the model was 100% incorrect in assignments

In [32]:
engine.execute("SELECT COUNT(RESOURCE_x) FROM totals_database WHERE RESOURCE_x = 1").fetchall()

[(3766,)]

This is the total number of distinct resources with only one observation

In [33]:
engine.execute("SELECT COUNT(RESOURCE_x) FROM totals_database WHERE RESOURCE_x = 1 AND RESOURCE_y = 1").fetchall()

[(268,)]

This is the number of times that the distinct resources with only one observation was wrong

In [34]:
engine.execute("SELECT * FROM totals_database WHERE Proportion > 0.45 AND RESOURCE_x < 30 AND RESOURCE_x > 5").fetchall()

[(439, 20287, 11, 5.0, 0.45454545454545453),
 (614, 44976, 8, 7.0, 0.875),
 (684, 21751, 7, 7.0, 1.0),
 (890, 22956, 6, 5.0, 0.8333333333333334),
 (898, 20218, 6, 3.0, 0.5)]

In [35]:
engine.execute("SELECT COUNT(RESOURCE_x) FROM totals_database WHERE RESOURCE_x = 1").fetchall()

[(3766,)]

prop_totalwrong = 267/1888
print(prop_totalwrong)

In [36]:
unique_x_train = x_train["RESOURCE"].unique()
print(unique_x_train)

[39353 17183 36724 ... 32529 16354 32147]

In [38]:
x_train.head ()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,ACT,PRED
0,39353,85475,117961,118300,123472,117905,117906,290919,117908,1,1
1,17183,1540,117961,118343,123125,118536,118536,308574,118539,1,1
2,36724,14457,118219,118220,117884,117879,267952,19721,117880,1,1
3,36135,5396,117961,118343,119993,118321,240983,290919,118322,1,1
4,42680,5905,117929,117930,119569,119323,123932,19793,119325,1,1

In [39]:
x_train[x_train["ACT"] != x_train["PRED"]]["ACT"].value_counts()

0    1893
Name: ACT, dtype: int64

In [40]:
x_train[x_train["ACT"] != x_train["PRED"]]

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,ACT,PRED
5,45333,14561,117951,117952,118008,118568,118568,19721,118570,0,1
41,74310,49521,117961,118300,118301,119849,235245,118638,119851,0,1
55,78106,50613,117916,118150,118810,118568,159905,19721,118570,0,1
66,35043,14800,117961,117962,118352,118784,117906,290919,118786,0,1
68,15716,18073,118256,118257,118623,118995,286106,292795,118997,0,1
91,22956,3967,117961,118052,118706,118321,117906,290919,118322,0,1
102,36480,15510,118169,118170,118171,130479,185784,119784,130481,0,1
112,80501,19717,117961,117962,118352,118321,117906,290919,118322,0,1
122,23096,29762,117961,118052,120398,122067,130238,118424,122069,0,1
156,77977,3811,120864,121013,118395,118396,269406,118398,118399,0,1
159,14570,23304,117961,118327,124921,137969,271378,118612,137970,0,1
170,20312,18044,117961,118386,118522,118321,117906,290919,118322,0,1
186,18913,273476,117926,118266,117920,118568,310732,19721,118570,0,1
189,44976,7691,118555,118178,117945,117946,119114,292795,117948,0,1
209,7543,4554,117961,118300,118514,118259,118260,290919,118261,0,1
234,967,2855,118169,118170,119262,117946,125711,292795,117948,0,1
249,107225,15389,117961,118225,122870,119928,129017,118331,119929,0,1
258,21751,56199,117961,118052,118881,117905,117906,290919,117908,0,1
275,27416,50601,117916,117917,117941,117879,117886,19721,117880,0,1
289,917,5313,117961,118386,120356,120357,201020,118424,120359,0,1
318,4675,58719,117961,118386,119954,118318,168365,118205,118319,0,1
319,79092,108732,119062,119091,118684,122989,131688,119006,122991,0,1
329,971,4219,117961,118300,120312,120313,157234,118424,120315,0,1
345,77203,15621,117961,119256,120943,126684,126684,292795,126685,0,1
346,16495,26009,117961,118446,119986,118777,279443,308574,118779,0,1
399,25279,15390,117961,118300,118301,120344,311360,118424,120346,0,1
400,79562,13876,117961,118386,118404,118841,240982,118643,118843,0,1
402,80874,4589,117961,118327,120383,117905,240983,290919,117908,0,1
425,39879,55642,118256,118257,117945,118995,118806,292795,118997,0,1
442,42019,4362,117961,118343,126955,118777,279443,308574,118779,0,1
...,...,...,...,...,...,...,...,...,...,...,...
32227,86310,3860,117961,118446,120317,118321,117906,290919,118322,0,1
32228,41576,17728,117961,118446,119986,118318,168365,118205,118319,0,1
32236,20312,2163,117935,117936,120694,118636,130218,118638,118639,0,1
32237,43876,50222,118079,118080,117878,117885,117913,117887,117888,0,1
32264,74649,76838,118212,118213,145774,130606,124426,118474,130607,0,1
32299,42123,22832,117961,117969,19666,120647,311441,118398,120649,0,1
32310,45189,3838,117961,118225,119924,118321,118448,290919,118322,0,1
32314,32270,17420,118212,118213,119136,118043,118043,270488,118046,0,1
32342,13878,53205,118095,118096,118008,117879,117897,19721,117880,0,1
32355,27396,1840,117961,118343,118514,118321,240983,290919,118322,0,1
32374,34434,25276,117961,118343,121747,118321,117906,290919,118322,0,1
32380,22680,2641,117961,118386,118404,118321,117906,290919,118322,0,1
32404,21751,70062,117961,118386,118746,117905,117906,290919,117908,0,1
32406,27416,33591,117916,118011,117884,117879,117886,19721,117880,0,1
32454,79168,14695,118602,118603,117941,117885,117913,117887,117888,0,1
32456,74935,16024,117961,118300,119984,120647,311441,118398,120649,0,1
32485,80802,858,117961,118327,118529,118777,279443,308574,118779,0,1
32494,96520,278563,118602,118603,117941,118568,118568,19721,118570,0,1
32495,20293,51095,117926,118124,118344,118054,240326,117887,118055,0,1
32513,80868,2855,118169,118170,119262,117946,125711,292795,117948,0,1
32525,73783,7032,117961,118052,118992,118259,133680,290919,118261,0,1
32568,15369,4561,118169,118170,118575,118636,215667,118638,118639,0,1
32570,14354,21160,118095,118096,117920,118568,125652,19721,118570,0,1
32575,80473,20169,117961,118343,118660,118451,270976,118453,118454,0,1
32604,77300,32795,118256,118257,118623,280788,193644,292795,119082,0,1
32645,25749,14348,118169,118170,118623,117946,144221,292795,117948,0,1
32661,25993,7243,117961,118343,118609,120357,125779,118424,120359,0,1
32681,14925,20361,117961,117962,118352,118321,117906,290919,118322,0,1
32707,41470,14289,118602,118603,117941,118568,118568,19721,118570,0,1
32713,77202,6982,117961,118300,118783,118321,117906,290919,118322,0,1

In [41]:
x_train = df_train.loc[:, ~df_train.columns.isin(["ACTION"])]
y_train = df_train["ACTION"]
x_test = df_test.loc[:, ~df_test.columns.isin(["id"])]
y_test = df_train["ACTION"]

In [42]:
df_test.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,32642,7792,118573,118574,117945,136261,128463,292795,119082
1,2,4696,14638,117961,118343,118514,118321,289122,255851,118322
2,3,22662,1760,118887,118888,120171,118396,255118,118398,118399
3,4,75078,7576,117961,118052,120671,118321,117906,257051,118322
4,5,39879,55668,117902,118041,117945,135951,134458,19776,119082

In [43]:
clf = RandomForestClassifier(n_estimators=10, max_depth=5)
clf.fit(x_train,y_train)
y_pred_test = clf.predict(x_test)

In [44]:
ID = df_test["id"]
#ID = pd.DataFrame(ID).reset_index()
ID = pd.DataFrame(ID)

In [45]:
ACTION = pd.DataFrame(y_pred_test)

In [46]:
from sklearn.feature_selection import SelectKBest,f_classif
from sklearn.feature_selection import chi2
selector = SelectKBest(chi2, k=6)
X_new=selector.fit_transform(x_train, y_train)
mask = selector.get_support(indices=True)
colname = x_train.columns[mask]
colname

Index(['MGR_ID', 'ROLE_ROLLUP_1', 'ROLE_TITLE', 'ROLE_FAMILY_DESC',
       'ROLE_FAMILY', 'ROLE_CODE'],
      dtype='object')